# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv)

In [ ]:
# %pip install duckdb duckdb-engine jupysql

In [13]:
import duckdb
import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [15]:
%sql duckdb:///:memory:
# %sql duckdb:///path/to/file.db

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/create.py", line 550, in create_engine
    entrypoint = u._get_entrypoint()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/url.py", line 758, in _get_entrypoint
    cls = registry.load(name)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 375, in load
    raise exc.NoSuchModuleError(
sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:duckdb

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/deprecations.py", line 281, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/create.py", line 550, in create_engine
    entrypoint = u._get_entrypoint()
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/engine/url.py", line 758, in _get_entrypoint
    cls = registry.load(name)
  File "/usr/local/lib/python3.10/dist-packages/sqlalchemy/util/langhelpers.py", line 375, in load
    raise exc.NoSuchModuleError(
sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:duckdb

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [16]:
# Add your code here.
%%sql
CREATE TABLE nyc_subway_stations
As SELECT * FROM read_csv_auto('https://open.gishub.org/data/duckdb/nyc_subway_stations.tsv')

%%sql
CREATE TABLE nyc_neighborhoods
As SELECT * FROM read_csv_auto('https://open.gishub.org/data/duckdb/nyc_neighborhoods.tsv')

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/usr/local/lib/python3.10/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.
%%sql
SELECT ID, NAME, BOROUGH FROM nyc_subway_stations

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [ ]:
# Add your code here.
%%sql
SELECT * FROM nyc_subway_stations WHERE BOROUGH = 'Manhattan'

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [ ]:
# Add your code here.
%%sql
SELECT * FROM nyc_subway_stations ORDER BY NAME

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.
%%sql
SELECT DISTINCT BOROUGH FROM nyc_subway_stations

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [ ]:
# Add your code here.
%%sql
SELECT BOROUGH, COUNT(SUBWAY_STATIONS) FROM nyc_subway_stations GROUP BY BOROUGH

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [ ]:
# Add your code here.
%%sql
SELECT BOROUGH, COUNT(SUBWAY_STATIONS) FROM nyc_subway_stations GROUP BY BOROUGH ORDER BY COUNT(SUBWAY_STATIONS) DESC

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [ ]:
# Add your code here.
%%sql
SELECT nyc_subway_stations.SUBWAY_STATIONS, nyc_neighborhoods.NEIGHBORHOODS
FROM nyc_subway_stations JOIN nyc_neighborhoods
ON nyc_subway_stations.BOROUGH = nyc_neighborhoods.BOROUGH

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [ ]:
# Add your code here.
%%sql
SELECT SUBWAY_STATIONS FROM nyc_subway_stations WHERE SUBWAY_STATIONS LIKE '_St_'

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [ ]:
# Add your code here.